

<app-nav></app-nav>

<div class="container">
  <div class="row">
    <div class="col-md-9">

      <p style="color: deepskyblue ; font-size: 30px" class="mb-2 mt-3">CA SỸ NỔI BẬT </p>
      <span style="font-size: 18px; " class="btn btn-success" routerLink="/singers/create">Thêm mới</span>
      <div class="row">
        <div class="col-md-3"*ngFor="let singer of singers">
          <table style="width: 100%; border-spacing: 20px">
            <tr>
              <td><img src="{{singer.avatar}}" alt=" " width="200px"
                       height="200px"></td>

            </tr>

            <tr>
              <td>
                <a routerLink="../singers/{{singer.id}}/detail">{{singer.name}}</a>
              </td>
            </tr>
          </table>
        </div>
      </div>


    </div>

    <!--    bên trái-->
    <div class="col-md-3">
      <p style="color: deepskyblue; font-size: 30px" class="mt-2">BXH Bài hát</p>
      <div class="row" *ngFor="let songs of songTop , index as i">
        <hr>
        <div class="col-md-1 ">
          <p style="font-size: 25px; color:darkgoldenrod">{{i + 1}}</p>
        </div>
        <div class="col-md-10">

          <p><a style="font-size: 18px;; color:brown" routerLink="/songs/{{songs.id}}/detail">{{songs.name}}</a>
            <br>
            <a style="font-size: 16px; color:slategray"
               routerLink="../singers/{{songs.singer_id}}/detail">{{songs.singer}}</a>
            <span style="float: right; font-size: 14px; color: slategray">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-headphones" viewBox="0 0 16 16">
                        <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5z"/>
                      </svg>
              {{songs.view}}</span></p>
        </div>
      </div>


      <!--            Chủ để-->
      <p style="color: deepskyblue; font-size: 40px" class="mt-2">Chủ đề hot ></p>
      <div class="row">
        <div class="col-md-2 ">
          <img src="https://avatar-ex-swe.nixcdn.com/topic/mobile/2020/09/03/3/4/d/6/1599120572859_org.jpg"
               width="400px" height="130px">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-2  ">
          <img src="https://avatar-ex-swe.nixcdn.com/topic/mobile/2020/06/22/7/c/e/e/1592810243058_org.jpg"
               width="400px" height="130px">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-2  ">
          <img src="https://rongmotorbike.com/danh-sach-bai-hat-moi-nhat/imager_6179.jpg" width="400px"
               height="130px">
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-2  ">
          <img src="https://avatar-ex-swe.nixcdn.com/topic/mobile/2020/08/13/e/5/a/b/1597292007198_org.jpg"
               width="400px" height="130px">
        </div>
      </div>

    </div>

  </div>

</div>
<app-footer></app-footer>




