

<app-nav></app-nav>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <img src="https://stc-id.nixcdn.com/v11/images/avatar_default_2020.png" alt="..." width="200px" height="200px">
      <h3 style="">{{users.name}}</h3>
    </div>
    <div class="col-md-9">
      <p STYLE="color: #42AEEC; font-size: 30px">CẬP NHẬT TÌA KHOẢN </p>
      <form *ngIf="updateForm" [formGroup]="updateForm" (ngSubmit)="submit(id)">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Tên đăng nhập</label>
          <input type="text" class="form-control" id="exampleInputEmail1" formControlName="name" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type=""  class="form-control" id="exampleInputEmail2" formControlName="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Địa chỉ</label>
          <input type="text" class="form-control" id="exampleInputEmail3" formControlName="address" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Phone</label>
          <input type="number" class="form-control" id="exampleInputEmail4" formControlName="phone" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

        <a class="btn btn-warning ml-2 " style="font-size: 18px" routerLink="/users/{{users.id}}/detail"> Back ></a>


      </form>

    </div>
  </div>

</div>
<app-footer></app-footer>

