
<app-nav></app-nav>
<div style=" width: 100%; height: 400px; background: slategray" >
  <div class="container">
    <div class="row" >

      <div class="col-md-2">
        <div class="mt-5" >
          <img style="border-radius: 50%; " src="{{singers.avatar}}" height="150px">
        </div>
        <p style="font-weight: bold; font-size: 20px; color: white" class="mt-2 ml-4">{{singers.name}}</p>
        <div style="font-size: 14px; color: white; margin-left: 20px" >
          <p>Sinh nhật: {{singers.date_of_birth}}<br>
            Giới tính: {{singers.gender}}<br>
          Thể loại: {{singers.category}}</p>
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="container">
            <img src="https://photo-cms-baonghean.zadn.vn/w607/Uploaded/2022/tamzshuztnzm/2020_07_21/13fd7c6be01482a9445724ed840b5944_obyy6678514_2172020.jpg" height="400px" width="100%">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row mt-3" >
  <div class="container">
    <p style="font-size: 25px; color: chocolate">Tiểu sử {{singers.name}}</p>
    <p>{{singers.biography}}</p>
  </div>
</div>



