<app-nav></app-nav>

<div class="container">
  <input class=" mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="keyword" name="keyword" >
  <button class="btn btn-outline-success my-2 my-sm-0"  (click)="search()">Search</button>
</div>


<div class="container">
  <ngx-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="true"
                    muted="muted" [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions"
                    [displayArtist]="msaapDisplayArtist" [displayDuration]="msaapDisplayDuration"
                    [expanded]="true" (trackEnded)="onEnded($event)" [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
                    [disablePositionSlider]="msaapDisablePositionSlider"></ngx-audio-player>
</div>




<div class="container">
  <p style="color: #42AEEC; font-size: 30px;" class="mb-2 mt-3">DANH SÁCH BÀI HÁT</p>
  <a routerLink="/songs/create" class="btn btn-success"> Thêm mới</a>
  <div class="row">
    <div class="col-md-9 " *ngFor="let song of songs">
      <hr class="mt-1 mb-1">
      <div class="row">
        <div class="col-md-1 mb-0">
          <img src="{{song.image}}" width="80px"
               height="80px">
        </div>
        <div class="col-md-11 ">
          <div class="container mt-3">
            <div class="row">
              <div class="col-md-6">
                <a style="font-size: 16px; color:black" routerLink="../songs/{{song.id}}/detail">{{song.name}}</a>
                <br><span style="font-size: 14px; color:deepskyblue" routerLink="../singers/{{song.singer_id}}/detail">{{song.singer}}</span>
              </div>
              <div class="col-md-6 mt-3">
                <p style="font-size: 14px; color:darkgray; float: right"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-headphones" viewBox="0 0 16 16">
                  <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5z"/>
                </svg> {{song.like}}</p>
                <button class="btn btn-danger" style="font-size: 14px" (click)="deleteSong(song.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg></button>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
<app-footer></app-footer>
<!--demo-->








